body {
    background-color: #ffffff;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    margin-top: 2rem;
    padding: 0;
}
.menuContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.menuLabel {
    font-size: 2rem;
    margin-bottom: 1rem;
    background-color: #f0f0f0 !important;
    margin-bottom: 2rem !important;
}
.menu {
    width: 50%;
}
.menuButtons {
    background-color:#40ae87 !important; 
}
.titleContainer {

}
.speedSubtitleContainer {
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 2.2rem;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding: 0;
}
.greenTitle {
    color: #40ae87;
}
.redTitle {
    color: #e74c3c;
}
.subtitle {
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 600px) {
    .title {
        font-size: 4rem;
    }
    .subtitle {
        font-size: 2rem;
    }
}
.speedContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.gameContainer {
    background-color: #f0f0f0;
    padding: 0.5rem;
    border-radius: 20px;
}
.infoRow {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-block: 10px;
}
.infoContainer {
    display: flex;
    background-color: #ffffff;
    height: 50px;
    border-radius: 10px ;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
.gameCol {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.gameRow {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}
.gameCell {
    background-color: tomato;
    width: 3rem;
    height: 3rem;
    border-radius: 20%;
}
.active {
    background-color: #40ae87;
    transition: 0.1s;
} 
.inactive {
    background-color: #ee6666;
    transition: 0.1s;
}
.restart {
    display: none;
    background-color: #40ae87 !important;
}
.scoreboardButton {
    display: flex;
}



.scoreboardContainer {
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: brightness(0.5);
}
.backButton {
    background-color: #40ae87 !important;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    background-color: #40ae87;
    padding: 1rem;
    border-radius: 15px;
}
.scoreboard {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 20px;
}
.scoreboardTitle {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding: 0;
}
.scoreboardRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0;
}
.scoreboardRowTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0;
}
.scoreboardInputContainer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    backdrop-filter: brightness(0.5);
}
.scoreboardInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 20px;
    width: 50vw;
}
.scoreboardInputTitle {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding: 0;
}
.scoreboardInputRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0;
    gap: 0.5rem;
}
.scoreboardInputLabel {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding: 0;
}
.scoreboardInputField {
    display:none;
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    margin-block: 1.5rem;
    padding: 0;
    width: 80%;
    height: 2rem;
}
.scoreboardInputField::-webkit-input-placeholder {
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding: 0;
       
}
.scoreboardSubmit {
    display:none;
    background-color: #40ae87 !important;
    padding: 0.5rem;
    border-radius: 15px;
}
.scoreboardList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0;
    gap: 0.5rem;
}

.fadeIn {
    animation: fadeIn ease 750ms;
    -webkit-animation: fadeIn ease 750ms;
    -moz-animation: fadeIn ease 750ms;
    -o-animation: fadeIn ease 750ms;
    -ms-animation: fadeIn ease 750ms;
}



@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
.scoreboardLabel {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding: 0;
}

.debugContainer {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #f0f0f0;
    margin: 1rem;
    padding-block: 1rem;
    border-radius: 10px;
}
.debugTitle {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding: 0;
}
.debugMessage {
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding: 0;
}